# Unity .gitignore 
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/MemoryCaptures/
/UserSettings/
/Packages/
/Assets/AssetStoreTools*

# IDE 및 시스템 파일
/.vs/
/.DS_Store
*.sln
*.user
*.csproj
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Unity 추가 파일
*.unitypackage
/BuildSettings/